<div class="container">
    <div *ngIf="isExamDisabled; else showExam">
        <p>Please add some word pairs to start the exam.</p>
    </div>
    <ng-template #showExam>
        <button id="start-exam-button" (click)="startExam()" *ngIf="!hasExamStarted && !isExamFinished">Start
            Exam</button>
        <div *ngIf="hasExamStarted" class="container">
            <div *ngIf="showKey; else showValue" class="word-display">
                <p>{{ currentWordPair.key }}</p>
            </div>
            <ng-template #showValue>
                <div class="word-display">
                    <p>{{ currentWordPair.value }}</p>
                </div>
            </ng-template>
            <div class="word-form">
                <input type="text" [(ngModel)]="answer" placeholder="Your answer" />
                <button (click)="checkAnswer()">Check</button>
            </div>
        </div>
        <div *ngIf="isExamFinished">
            <p>Exam Finished!</p>
            <p>Correct Answers: {{ amountOfCorrectAnswers }}</p>
            <p>Incorrect Answers: {{ amountOfIncorrectAnswers }}</p>
            <p>Total Questions: {{ amountOfCorrectAnswers + amountOfIncorrectAnswers }}</p>
            <p>Score: {{ (amountOfCorrectAnswers / (amountOfCorrectAnswers + amountOfIncorrectAnswers)) * 100 |
                number:'1.0-2' }}%</p>
            <button (click)="startExam()">Restart Exam</button>
        </div>
    </ng-template>
</div>